<!-- <h1>Make A Wish</h1>
 -->
 <script type="text/javascript">    
   $(document).ready(function() {
      setTimeout(function(){ window.location.reload();
      }, 60000);
     // alert('REFRESHED!')
   });
</script>

<div id="clock" class="light">
    <div class="display">
        <div class="weekdays"></div>
        <div class="ampm"></div>
        <div class="alarm"></div>
        <div class="digits"></div>
    </div>
</div>

<% @wish_times.each do |time| %>
 <% if @current_time == time %>
	<p align="center"><%= link_to 'Make A Wish!', new_wish_path, class: 'btn btn-primary btn-lg' %></p>
  <% end %>
<% end %>