<h1>Make A Wish</h1>

<div id="clock" class="light">
    <div class="display">
        <div class="weekdays"></div>
        <div class="ampm"></div>
        <div class="alarm"></div>
        <div class="digits"></div>
    </div>
</div>

<%= link_to 'Make A Wish!', new_wish_path %>